@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primaryLight;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-accent;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-accent/20;
}

body {
  scroll-behavior: smooth;
}
